In [1]:
import pandas as pd
df = pd.read_csv("news.csv")
df.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [2]:
df.groupby(df.label).describe()

      Unnamed: 0                                                              \
           count         mean          std     min      25%     50%      75%
label
FAKE      3164.0  7912.297092  1514.701524  5280.0  6627.75  7904.0  9231.25
REAL      3171.0  2654.344056  1531.720152     2.0  1317.50  2676.0  3992.50


           max
label
FAKE   10557.0
REAL    5276.0

In [3]:
df["FAKE"] = df["label"].apply(lambda X:1 if X == "FAKE" else 0)
df.head()

,Unnamed: 0,title,text,label,FAKE
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE,1
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE,1
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL,0
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE,1
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL,0

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.text, df.FAKE, test_size = 0.25)

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]
X_train_count.ndim

2

In [7]:
from sklearn.naive_bayes import MultinomialNB

In [8]:
model=MultinomialNB()

In [9]:
model.fit(X_train_count,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [10]:
News = [
    
    "Police said 9-year-old Jaremy Vazquez, of Brooklyn, and 35-year-old Eileen Zelis Aria, of the Bronx, were killed in the pileup, along with 58-year-old bus driver Shuang Qing Feng, of Queens."
    "New York Native Awkwafina Makes History At Golden Globes, First Asian To Win Lead Actress In A Film!"
]

In [11]:
News_count = v.transform(X_test)
model.predict(News_count)

array([1, 1, 1, ..., 0, 1, 0])

In [12]:
X_test_count=v.transform(X_test)
model.score(X_test_count,y_test)

0.8882575757575758

In [13]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ("vectorizer",CountVectorizer()),
    ("nb",MultinomialNB())
])

In [14]:
clf.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('vectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('nb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [17]:
clf.score(X_test,y_test)

0.8882575757575758

In [21]:
News = []
a=str(input("Enter your News text : "))
News.append(a)
News_count=v.transform(News)
News.predict(News_count)

Enter your News text :  khkjkj hkhh

AttributeError: 'list' object has no attribute 'predict'

In [ ]:
model.score(X)